.features {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  width: 100%;

  .feature {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;

      .icon {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        color: var(--ifm-color-primary);
      }

      .title {
        margin-bottom: 0;
      }
    }
  }
}
